body {
    background-color: antiquewhite;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 40px;
}

#recipe-list {
    text-align: center;
}